# ON34 Python S07 Banco de dados I - Exercicio de explicação

Esse documento tem como objetivo explicar como podemos usar um arquivo Google Colab para entender arquitetura de banco de dados.
Para tanto, será usada a Biblioteca SQLite para criarmos e manipularmos tabelas, suas relações e seus dados.

No link https://colab.research.google.com/drive/1iXh_l1R66L1B30lIj-oLATCwCLyWdF0u?usp=sharing é possivel encontrar uma explicação completa de como a biblioteca funciona e suas principais features.

Sendo assim, a seguir vou passar mais para um caso de uso dessa aula, criar uma visão prática de banco de dados.

## 1. Visualizando o banco

Nesse ponto, o objetivo principal é a criação de um desenho de como será o seu Banco de dados. Para tanto, deve-se:


*   Identificar a necessidade de uso (tabela fato);
*   Identificar qual o melhor estrutura para se usar (Snowflake ou Star);
*   Desenhar as tabelas e a relação entre elas.

### Necessidade:
Uma escola nos chamou para trazermos para eles uma visão ampla de notas, matérias, professores e alunos para eles poderem entregar o boletim do semestre de cada aluno.

Resposta das perguntas:

*   Identificar a necessidade de uso (tabela fato);

Precisa ter dados de matéria, professor, aluno e nota.

*   Identificar qual o melhor estrutura para se usar (Snowflake ou Star);

Vamos seguir com o modelo Star.

*   Desenhar as tabelas e a relação entre elas.
![Banco de dados](https://drive.google.com/uc?export=view&id=1Z-Gb6kkRUg-WkgMx-ThwfhVulEUiIc-i)

## 2. Criar o banco

Nesse ponto, o objetivo principal é entender a [biblioteca SQLite](https://docs.python.org/3/library/sqlite3.html) e criar as entidades planejadas, se atendo a cada particularidade. Para tanto, deve-se:


*   Ler a documentação da biblioteca;
*   Inicializar a biblioteca;
*   Criar as tabelas, observando tipos dos campos e dos suas naturezas.

[Formato amigável da documentação](https://www.sqlitetutorial.net/)

### Inicializando a biblioteca

Para se inicializar a biblioteca, deve-se:

In [32]:
# Importar a biblioteca
import sqlite3


#Criar uma conexão com um banco de dados (no nosso caso, não temos um arquivo de banco de dados pré feito, então decidiu-se inicializar um denominado banco_escola_inicializacao.db)
conn = sqlite3.connect("banco_escola_inicializacao.db")

# Criar um cursor no banco que permitirá o uso de comandos no formato SQL
cur  = conn.cursor()

### Criando tabelas isoladas (Sem chave estrangeira)

Para se criar tabelas isoladas, deve-se:

In [33]:
# Criando a tabela registro_materias
cur.execute("""
CREATE TABLE registro_materias(
  id_materia TEXT NOT NULL PRIMARY KEY,
  st_nome TEXT NOT NULL,
  st_area TEXT NOT NULL
)
""")

# Criando a tabela registro_professores
cur.execute("""
CREATE TABLE registro_professores(
  id_professor TEXT NOT NULL PRIMARY KEY,
  dt_contratacao TEXT NOT NULL,
  st_nome TEXT NOT NULL
)
""")

# Criando a tabela registro_alunos
cur.execute("""
CREATE TABLE registro_alunos(
  id_aluno TEXT NOT NULL PRIMARY KEY,
  st_nome TEXT NOT NULL
)
""")

### Criando tabela fato (Com chave estrangeira)

Para se criar a tabela fato, deve-se:

In [34]:
# Criando a tabela registro_academico
cur.execute("""

CREATE TABLE registro_academico(
  id_materia TEXT NOT NULL,
  id_professor TEXT NOT NULL,
  id_aluno TEXT NOT NULL,
  dt_prova TEXT NOT NULL,
  fl_nota REAL NOT NULL,
  FOREIGN KEY (id_materia)
      REFERENCES registro_materias (id_materia)
         ON DELETE CASCADE
         ON UPDATE NO ACTION,
  FOREIGN KEY (id_professor)
      REFERENCES registro_professores (id_professor)
         ON DELETE CASCADE
         ON UPDATE NO ACTION,
  FOREIGN KEY (id_aluno)
      REFERENCES registro_alunos (id_aluno)
         ON DELETE CASCADE
         ON UPDATE NO ACTION
)
""")

### Desligando a conexão

Para se findar a conexão, deve-se:

In [35]:
# Fechando a conexão

conn.close()

## 3. Adicionar volumes ao banco

Nesse ponto, o objetivo principal é usar a [biblioteca SQLite](https://docs.python.org/3/library/sqlite3.html) e criar registros para as tabelas criadas. Para tanto, deve-se:


*   Inicializar a biblioteca;
*   Adicionar os valores desejados.

[Formato amigável da documentação](https://www.sqlitetutorial.net/)

### Inicializando a biblioteca

Para se inicializar a biblioteca, deve-se:

In [36]:
# Importar a biblioteca
import sqlite3


#Criar uma conexão com um banco de dados (no nosso caso, não temos um arquivo de banco de dados pré feito, então decidiu-se inicializar um denominado banco_escola_inicializacao.db)
conn = sqlite3.connect("banco_escola_inicializacao.db")

# Criar um cursor no banco que permitirá o uso de comandos no formato SQL
cur  = conn.cursor()

### Adicionando valores
Para se adicionar valores simples, deve-se:

In [37]:
# Iserir dados de materias
cur.execute("""
INSERT INTO registro_materias VALUES
  ('m1','Protuguês','Humanas'),
  ('m2','Matemática','Exatas'),
  ('m3','Ciências','Biológicas'),
  ('m4','Artes','Humanas'),
  ('m5','Linguas','Humanas')
""")

# Iserir dados de professores
cur.execute("""
INSERT INTO registro_professores VALUES
  ('p1','18/05/2010','Gilberto Girafales'),
  ('p2','09/08/2006','Charles Xavier'),
  ('p3','29/10/2008','Catarina Roque'),
  ('p4','18/07/2010','Marocas Salgado')
""")

# Iserir dados de alunos
cur.execute("""
INSERT INTO registro_alunos VALUES
  ('a1','Ana Antunes'),
  ('a2','Beto Batista'),
  ('a3','Carlos Chaves'),
  ('a4','Dante Dummas'),
  ('a5','Etelvina Estrada'),
  ('a6','Fernanda Oliveira'),
  ('a7','Golias Gordon'),
  ('a8','Humberto Honorio')
""")

Para adicionar valores com dados estrangeiros, deve-se:

In [38]:
# Iserir dados de registros acadêmicos
cur.execute("""
INSERT INTO registro_academico VALUES
  ('m1','p1','a1','10/06/2024',7.4),
  ('m1','p1','a2','10/06/2024',10),
  ('m1','p1','a3','10/06/2024',3),
  ('m1','p1','a4','10/06/2024',4.5),
  ('m1','p1','a5','10/06/2024',7.8),
  ('m1','p1','a6','10/06/2024',9),
  ('m1','p1','a7','10/06/2024',8.5),
  ('m1','p1','a8','102/06/2024',2),

  ('m2','p2','a1','11/06/2024',7.8),
  ('m2','p2','a2','11/06/2024',4.5),
  ('m2','p2','a3','11/06/2024',5.8),
  ('m2','p2','a4','11/06/2024',6.8),
  ('m2','p2','a5','11/06/2024',4.5),
  ('m2','p2','a6','11/06/2024',3.1),
  ('m2','p2','a7','11/06/2024',8.3),
  ('m2','p2','a8','11/06/2024',10),

  ('m3','p3','a1','12/06/2024',1.6),
  ('m3','p3','a2','12/06/2024',10),
  ('m3','p3','a3','12/06/2024',4.5),
  ('m3','p3','a4','12/06/2024',10),
  ('m3','p3','a5','12/06/2024',6.2),
  ('m3','p3','a6','12/06/2024',4.7),
  ('m3','p3','a7','12/06/2024',10),
  ('m3','p3','a8','12/06/2024',8.1),

  ('m4','p1','a1','13/06/2024',5.3),
  ('m4','p1','a2','13/06/2024',9.2),
  ('m4','p1','a3','13/06/2024',7.8),
  ('m4','p1','a4','13/06/2024',10),
  ('m4','p1','a5','13/06/2024',4.2),
  ('m4','p1','a6','13/06/2024',4.3),
  ('m4','p1','a7','13/06/2024',7.4),
  ('m4','p1','a8','13/06/2024',6.3),

  ('m5','p4','a1','14/06/2024',5.4),
  ('m5','p4','a2','14/06/2024',7.4),
  ('m5','p4','a3','14/06/2024',5.6),
  ('m5','p4','a4','14/06/2024',7.8),
  ('m5','p4','a5','14/06/2024',10),
  ('m5','p4','a6','14/06/2024',8.3),
  ('m5','p4','a7','14/06/2024',2.6),
  ('m5','p4','a8','14/06/2024',4.3)
""")

### Comitando valores

Apenas o comando INSERT, não adiciona dados na tabela mais cria uma Transação de adição, para executá-la, deve-se:

In [70]:
# Comitar as inserções
conn.commit()

Para validar se os dados foram inseridos com sucesso, deve-se:

In [73]:
#Verificar dados da tabela de registros acadêmicos
res = cur.execute("SELECT * FROM registro_academico")
res.fetchall()

[('m1', 'p1', 'a1', '10/06/2024', 7.4),
 ('m1', 'p1', 'a2', '10/06/2024', 10.0),
 ('m1', 'p1', 'a3', '10/06/2024', 3.0),
 ('m1', 'p1', 'a4', '10/06/2024', 4.5),
 ('m1', 'p1', 'a5', '10/06/2024', 7.8),
 ('m1', 'p1', 'a6', '10/06/2024', 9.0),
 ('m1', 'p1', 'a7', '10/06/2024', 8.5),
 ('m1', 'p1', 'a8', '102/06/2024', 2.0),
 ('m2', 'p2', 'a1', '11/06/2024', 7.8),
 ('m2', 'p2', 'a2', '11/06/2024', 4.5),
 ('m2', 'p2', 'a3', '11/06/2024', 5.8),
 ('m2', 'p2', 'a4', '11/06/2024', 6.8),
 ('m2', 'p2', 'a5', '11/06/2024', 4.5),
 ('m2', 'p2', 'a6', '11/06/2024', 3.1),
 ('m2', 'p2', 'a7', '11/06/2024', 8.3),
 ('m2', 'p2', 'a8', '11/06/2024', 10.0),
 ('m3', 'p3', 'a1', '12/06/2024', 1.6),
 ('m3', 'p3', 'a2', '12/06/2024', 10.0),
 ('m3', 'p3', 'a3', '12/06/2024', 4.5),
 ('m3', 'p3', 'a4', '12/06/2024', 10.0),
 ('m3', 'p3', 'a5', '12/06/2024', 6.2),
 ('m3', 'p3', 'a6', '12/06/2024', 4.7),
 ('m3', 'p3', 'a7', '12/06/2024', 10.0),
 ('m3', 'p3', 'a8', '12/06/2024', 8.1),
 ('m4', 'p1', 'a1', '13/06/2024', 5.3),
 ('m4', 'p1', 'a2', '13/06/2024', 9.2),
 ('m4', 'p1', 'a3', '13/06/2024', 7.8),
 ('m4', 'p1', 'a4', '13/06/2024', 10.0),
 ('m4', 'p1', 'a5', '13/06/2024', 4.2),
 ('m4', 'p1', 'a6', '13/06/2024', 4.3),
 ('m4', 'p1', 'a7', '13/06/2024', 7.4),
 ('m4', 'p1', 'a8', '13/06/2024', 6.3),
 ('m5', 'p4', 'a1', '14/06/2024', 5.4),
 ('m5', 'p4', 'a2', '14/06/2024', 7.4),
 ('m5', 'p4', 'a3', '14/06/2024', 5.6),
 ('m5', 'p4', 'a4', '14/06/2024', 7.8),
 ('m5', 'p4', 'a5', '14/06/2024', 10.0),
 ('m5', 'p4', 'a6', '14/06/2024', 8.3),
 ('m5', 'p4', 'a7', '14/06/2024', 2.6),
 ('m5', 'p4', 'a8', '14/06/2024', 4.3)]

### Desligando a conexão

Para se findar a conexão, deve-se:

In [44]:
# Fechando a conexão

conn.close()

## 3. Atualizando e Deletando valores

Nesse ponto, o objetivo principal é usar a [biblioteca SQLite](https://docs.python.org/3/library/sqlite3.html) e modificar registros para as tabelas criadas. Para tanto, deve-se:


*   Inicializar a biblioteca;
*   Adicionar os valores indesejado;
*   Deletar os valores indesejados;
*   Atualizar os valores necessários.

[Formato amigável da documentação](https://www.sqlitetutorial.net/)

### Inicializando a biblioteca

Para se inicializar a biblioteca, deve-se:

In [45]:
# Importar a biblioteca
import sqlite3


#Criar uma conexão com um banco de dados (no nosso caso, não temos um arquivo de banco de dados pré feito, então decidiu-se inicializar um denominado banco_escola_inicializacao.db)
conn = sqlite3.connect("banco_escola_inicializacao.db")

# Criar um cursor no banco que permitirá o uso de comandos no formato SQL
cur  = conn.cursor()

### Lidar com inserção errada no banco

Primeiro, deve-se adicionar um valor errado:

In [46]:
# Importar a biblioteca o valor errado
cur.execute("""
INSERT INTO registro_materias VALUES
  ('m8','Fisica Avançada','Exatas')
""")

#Verificar o dado errado
res = cur.execute("SELECT * FROM registro_materias")
res.fetchall()

Então, deve-se deletá-lo:

In [72]:
# Importar a biblioteca o valor errado
cur.execute("""
DELETE FROM registro_materias
WHERE id_materia = 'm8';
""")


#Verificar correção
res = cur.execute("SELECT * FROM registro_materias")
res.fetchall()

[('m1', 'Protuguês', 'Humanas'),
 ('m2', 'Matemática', 'Exatas'),
 ('m3', 'Ciências', 'Biológicas'),
 ('m4', 'Artes', 'Humanas'),
 ('m5', 'Linguas', 'Humanas')]

### Lidar com ajuste no banco

Primeiro, deve-se identificar um valor errado:

In [49]:
#Verificar o dado errado
res = cur.execute("SELECT * FROM registro_alunos")
res.fetchall()

[('a1', 'Ana Antunes'),
 ('a2', 'Beto Batista'),
 ('a3', 'Carlos Chaves'),
 ('a4', 'Dante Dummas'),
 ('a5', 'Etelvina Estrada'),
 ('a6', 'Fernanda Florindo'),
 ('a7', 'Golias Gordon'),
 ('a8', 'Humberto Honorio')]

Então, deve-se deletá-lo:

In [51]:
# Importar a biblioteca o valor errado
cur.execute("""
UPDATE registro_alunos
SET st_nome = 'Fernanda Fagundes'
WHERE id_aluno = 'a6';
""")


#Verificar correção
res = cur.execute("SELECT * FROM registro_alunos")
res.fetchall()

[('a1', 'Ana Antunes'),
 ('a2', 'Beto Batista'),
 ('a3', 'Carlos Chaves'),
 ('a4', 'Dante Dummas'),
 ('a5', 'Etelvina Estrada'),
 ('a6', 'Fernanda Fagundes'),
 ('a7', 'Golias Gordon'),
 ('a8', 'Humberto Honorio')]

### Desligando a conexão

Para se findar a conexão, deve-se:

In [52]:
# Fechando a conexão

conn.close()

## 3. Consultando valores

Nesse ponto, o objetivo principal é usar a [biblioteca SQLite](https://docs.python.org/3/library/sqlite3.html) e consultar registros para as tabelas criadas. Para tanto, deve-se:


*   Inicializar a biblioteca;
*   Criar consultas;
*   Atualizar os valores necessários.

[Formato amigável da documentação](https://www.sqlitetutorial.net/)

### Inicializando a biblioteca

Para se inicializar a biblioteca, deve-se:

In [54]:
# Importar a biblioteca
import sqlite3


#Criar uma conexão com um banco de dados (no nosso caso, não temos um arquivo de banco de dados pré feito, então decidiu-se inicializar um denominado banco_escola_inicializacao.db)
conn = sqlite3.connect("banco_escola_inicializacao.db")

# Criar um cursor no banco que permitirá o uso de comandos no formato SQL
cur  = conn.cursor()

### Trabalhar com consultas

Primeiro, deve-se entender cada elemento da consulta:

*   SELECT = O que deve ser selecionado e consultado (se preenche com nome de colunas e funções)
*   FROM = Base onde os dados estão armazenados (se preenche com nome de tabelas)
*   WHERE = Filtros que devem ser aplicados na consulta (se preenche com nome de colunas e suas condições)
*   GROUP BY = Agregações que devem ser aplicadas a consulta (se preenche com nome de colunas)
*   ORDER BY = Ordenações que devem ser aplicadas a consulta (se preenche com nome de colunas)
*   LIMIT = O tamanho máximo do resultado (se preenche com numeros inteiros)


Abaixo, alguns exemplos:

In [55]:
#Consultar e listar todos os alunos
res = cur.execute("SELECT * FROM registro_alunos")
res.fetchall()

[('a1', 'Ana Antunes'),
 ('a2', 'Beto Batista'),
 ('a3', 'Carlos Chaves'),
 ('a4', 'Dante Dummas'),
 ('a5', 'Etelvina Estrada'),
 ('a6', 'Fernanda Florindo'),
 ('a7', 'Golias Gordon'),
 ('a8', 'Humberto Honorio')]

In [56]:
#Consultar todas as materias de humanas
res = cur.execute("""
SELECT
  *
FROM registro_materias
WHERE st_area = 'Humanas'
""")
res.fetchall()

[('m1', 'Protuguês', 'Humanas'),
 ('m4', 'Artes', 'Humanas'),
 ('m5', 'Linguas', 'Humanas')]

In [60]:
#Consultar a média de todos os alunos
res = cur.execute("""
SELECT
  id_aluno,
  (SUM(fl_nota)/5) AS media
FROM registro_academico
GROUP BY id_aluno
""")
res.fetchall()

[('a1', 5.5),
 ('a2', 8.22),
 ('a3', 5.340000000000001),
 ('a4', 7.82),
 ('a5', 6.540000000000001),
 ('a6', 5.880000000000001),
 ('a7', 7.360000000000001),
 ('a8', 6.140000000000001)]

In [61]:
#Consultar a média de todos os alunos ordenado do menor para o maior
res = cur.execute("""
SELECT
  id_aluno,
  (SUM(fl_nota)/5) AS media
FROM registro_academico
GROUP BY id_aluno
ORDER BY media ASC
""")
res.fetchall()

[('a3', 5.340000000000001),
 ('a1', 5.5),
 ('a6', 5.880000000000001),
 ('a8', 6.140000000000001),
 ('a5', 6.540000000000001),
 ('a7', 7.360000000000001),
 ('a4', 7.82),
 ('a2', 8.22)]

In [63]:
#Consultar as 3 maiores médias
res = cur.execute("""
SELECT
  id_aluno,
  (SUM(fl_nota)/5) AS media
FROM registro_academico
GROUP BY id_aluno
ORDER BY media DESC
LIMIT 3
""")
res.fetchall()

[('a2', 8.22), ('a4', 7.82), ('a7', 7.360000000000001)]

### Desligando a conexão

Para se findar a conexão, deve-se:

In [ ]:
# Fechando a conexão

conn.close()

## 4. Mudando o banco estruturalmente

Nesse ponto, o objetivo principal é usar a [biblioteca SQLite](https://docs.python.org/3/library/sqlite3.html) e mudar a estrutura do vanco. Para tanto, deve-se:


*   Inicializar a biblioteca;
*   Alterar tabelas;
*   Apagar tabelas.

[Formato amigável da documentação](https://www.sqlitetutorial.net/)

### Inicializando a biblioteca

Para se inicializar a biblioteca, deve-se:

In [ ]:
# Importar a biblioteca
import sqlite3


#Criar uma conexão com um banco de dados (no nosso caso, não temos um arquivo de banco de dados pré feito, então decidiu-se inicializar um denominado banco_escola_inicializacao.db)
conn = sqlite3.connect("banco_escola_inicializacao.db")

# Criar um cursor no banco que permitirá o uso de comandos no formato SQL
cur  = conn.cursor()

### Alterando tabelas

Para [alterar tabelas](https://www.sqlitetutorial.net/sqlite-alter-table/), deve-se:

In [68]:
#Consultar e listar todos os alunos
cur.execute("""
ALTER TABLE registro_alunos
ADD COLUMN dt_nascimento;
""")

# Comitar as inserções
cur.execute("""
UPDATE registro_alunos
SET dt_nascimento = '01/01/2001'
""")

res = cur.execute("SELECT * FROM registro_alunos")
res.fetchall()

[('a1', 'Ana Antunes', '01/01/2001'),
 ('a2', 'Beto Batista', '01/01/2001'),
 ('a3', 'Carlos Chaves', '01/01/2001'),
 ('a4', 'Dante Dummas', '01/01/2001'),
 ('a5', 'Etelvina Estrada', '01/01/2001'),
 ('a6', 'Fernanda Florindo', '01/01/2001'),
 ('a7', 'Golias Gordon', '01/01/2001'),
 ('a8', 'Humberto Honorio', '01/01/2001')]

### Deletando tabelas

Para [deletar tabelas](https://www.sqlitetutorial.net/sqlite-drop-table/), deve-se:

In [74]:
#Criar tabela errada
cur.execute("""
CREATE TABLE ERRO
(id_erro NULL)
""")


res = cur.execute("SELECT * FROM erro")
res.fetchall()

[]

In [75]:
# Apagar tabela errada
cur.execute("""
DROP TABLE erro
""")


res = cur.execute("SELECT * FROM erro")
res.fetchall()

OperationalError: no such table: erro

### Desligando a conexão

Para se findar a conexão, deve-se:

In [76]:
# Fechando a conexão

conn.close()